h1 {   
    color: #ffffff;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Comic sans MS', sans-serif;
    line-height: 1.6;
}

h2, h3 {
    font-family: 'Impact', sans-serif;
    color: #222222de;
}


header {
    background-color: #855ddc;
    color: rgb(233, 233, 233);
    padding: 2rem;
    text-align: center;
}

.container-branco {
    background-color: rgb(233, 233, 233);
    padding: 40px;
}

.container-colorido {
    background-color: rgb(233, 233, 233);
    padding: 40px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: rgba(254, 254, 254, 0.895);
}

th, td {
    border: 1px solid #ffffff;
    padding: 12px;
    text-align: center;
}

th {
    background-color: rgba(157, 72, 255, 0.933);
    color: rgb(153, 63, 255);
}


img {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(158, 43, 225, 0.583);
    display: block;
    margin: 20px 0;
}


img {
  width: 300px;
  height: auto;
}